@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');
*{
  box-sizing: border-box;
}
body{
  background-color: #131722 !important;
  color: #fff !important;
  font-family: 'Montserrat Alternates', sans-serif !important;
}
.vote{
  background-color: #246aef;
  font-weight: 900;
}
.brdr{
  background-color: #a8a8a83d;
  height:2px;
}
.scnd-color{
  color:#949cb0;
}


a{color:#fff !important;
text-decoration: none !important;}
.h-90{
  height: 90%;
}
header{
  background-image: url('assets/images/title-image-1.eb5e2899315f131fed94.webp');
  background-size: cover;
  background-position: center center;
}

